[submodule "home/.local/share/nvim/site/pack/x/start/coc.nvim"]
	path = home/.local/share/nvim/site/pack/x/start/coc.nvim
	url = https://github.com/neoclide/coc.nvim
[submodule "home/.local/share/nvim/site/pack/x/start/editorconfig-vim"]
	path = home/.local/share/nvim/site/pack/x/start/editorconfig-vim
	url = https://github.com/editorconfig/editorconfig-vim
[submodule "home/.local/share/nvim/site/pack/x/start/nerdtree"]
	path = home/.local/share/nvim/site/pack/x/start/nerdtree
	url = https://github.com/preservim/nerdtree
[submodule "home/.local/share/nvim/site/pack/x/start/nerdtree-git-plugin"]
	path = home/.local/share/nvim/site/pack/x/start/nerdtree-git-plugin
	url = https://github.com/Xuyuanp/nerdtree-git-plugin
[submodule "home/.local/share/nvim/site/pack/x/start/vim-airline"]
	path = home/.local/share/nvim/site/pack/x/start/vim-airline
	url = https://github.com/vim-airline/vim-airline
[submodule "home/.local/share/nvim/site/pack/x/start/vim-devicons"]
	path = home/.local/share/nvim/site/pack/x/start/vim-devicons
	url = https://github.com/ryanoasis/vim-devicons
[submodule "home/.local/share/nvim/site/pack/x/start/markdown-preview.nvim"]
	path = home/.local/share/nvim/site/pack/x/start/markdown-preview.nvim
	url = https://github.com/iamcco/markdown-preview.nvim
