[user]
  name = Vince Forgione
  email = v4gione@gmail.com
  identityfile = id_ed25519

[init]
  defaultBranch = main

[color]
  branch = true
  diff = true
  push = true
  remote = true
  showBranch = true
  status = true
  ui = true

[pull]
  rebase = false
